{% include "recipes/partials/head.html" %}

<body>
    
    {% include "recipes\partials\header.html" %}
    {% include "recipes\partials\search.html" %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?_gl=1*h1z452*_ga*NzczMDk1NTU1LjE3NDUxNDI2OTI.*_ga_8JE65Q40S6*czE3NTE2NDU1NDEkbzYkZzEkdDE3NTE2NDU1NDckajU0JGwwJGgw" alt="pancakes">
                </div>
                <h1>Oi</h1>
            </div>                                         
        </div>
    </main>
</body>

</html>